<div class="container__smal-card">
        <div class="small__card-foto">
        <img src="
        alt=" height="" width=""> 
        </div>
        <div class="small__card-title">
            <h1> <a href="#">hunterXhunter</a></h1>
        </div >
        <div class="big-card-description">
            <p><a href="#">killua gon leorio e kurupika. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquam dolorum nihil cum cupiditate suscipit similique temporibus maiores commodi soluta maxime, ipsum, recusandae deserunt ex id laborum, ducimus eos esse.</a></p>
        </div>
</div>

